<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:theme="@style/Theme.SVDAgency"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />

        <!-- Admin -->
        <activity android:name=".ui.admin.AdminDashboardActivity"/>
        <activity android:name=".ui.admin.customer.CustomersData"/>
        <activity android:name=".ui.admin.customer.CustomerProfileActivity"/>
        <activity android:name=".ui.admin.customer.AddCustomerActivity"/>
        <activity android:name=".ui.admin.bills.AdminBillsActivity"/>
        <activity android:name=".ui.admin.bills.CreateBillActivity"/>
        <activity android:name=".ui.admin.bills.AdminBillDetailActivity"/>
        <activity android:name=".ui.admin.AdminOrdersActivity"/>
        <activity android:name=".ui.admin.items.AdminItemsActivity"/>
        <activity android:name=".ui.admin.items.AddEditItemActivity"/>
        <activity android:name=".ui.admin.stock.AdminStockActivity"/>
        <activity android:name=".ui.admin.stock.AdminStockUpdateActivity"/>
        <activity android:name=".ui.admin.AdminDuesActivity"/>
        <activity android:name=".ui.admin.cashbook.AdminCashBookActivity"/>
        <activity android:name=".ui.admin.cashbook.AddExpenseActivity"/>
        <activity android:name=".ui.admin.cashbook.ViewExpensesActivity"/>
        <activity android:name=".ui.admin.AdminPaymentsActivity"/>
        <activity android:name=".ui.admin.AdminMonthlySummary"/>
        <activity android:name=".ui.admin.companies.AdminCompaniesActivity"/>
        <activity android:name=".ui.admin.companies.AddEditCompanyActivity"/>
        <activity android:name=".ui.admin.companies.CompanyCatalogActivity"/>
        <activity android:name=".ui.admin.AdminSubscriptionsActivity"/>
        <activity android:name=".ui.admin.AdminSubscriptionHistoryActivity"/>
        <activity android:name=".ui.admin.AdminUserDeliveryActivity"/>

        <!-- Customer / User -->
        <activity android:name=".ui.customer.CustomerMainActivity"/>
        <activity android:name=".ui.customer.CustomerCompanyCatalogActivity"/>
        <activity android:name=".ui.customer.CustomerCompanyDetailsActivity"/>
        <activity android:name=".ui.customer.CustomerContactSupportActivity"/>
        <activity android:name=".ui.user.UserMainActivity"/>
        <activity android:name=".ui.user.TermsConditionsActivity"/>
        <activity android:name=".ui.user.CompanyDetailsActivity"/>
        <activity android:name=".ui.user.ContactSupportActivity"/>
        <activity android:name=".ui.user.UserBillDetailActivity" />

        <!-- Deliver -->
        <activity android:name=".ui.delivery.DeliveryDashboardActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
